@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #3a4052e5;
    --primary-color2: rgb(5, 150, 150);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", san-serif;
}

#top {
    color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

body {
    line-height: 1.5;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}


.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}

/* .home-button {
    position: fixed;
    margin: 15px;
    font-size: 2.5em;
    cursor: pointer;
    color: rgb(5, 150, 150);
    opacity: 0.5;
} */


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 1em;
    color: #fff;
}

#top h1 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
    padding: 10px 0;
}


/* --------------------------------------HOME VIDEO MENU - START */
.intro p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.1em;
    max-width: 700px;
    padding: 10px 0;
}

.intro-link {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.intro-button {
    color: #fff;
    border: 1.5px #fff solid;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 7px;
    opacity: 0.9;
}

.intro-button:hover {
    transform: scale(0.96);

}

/* --------------------------------------HOME VIDEO MENU - END */

/* --------------------------------------TOP MENU - START */

.top-menu {
    display: flex;
    justify-content: center;
    line-height: 15px;
    font-size: 1.2em;
    background-color:rgba(153, 214, 214, 0.89);
    position: sticky;
    top: 0;
}

/* --------------------------------------TOP MENU - END */


/* --------------------------------------BOTTOM OF PAGE NAVIGATION BUTTONS - START */
.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 50px;
}

.nav-button {
    padding: 0 20px 40px 20px;
    font-size: 2em;
    color: var(--primary-color2);
}

.nav-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* --------------------------------------BOTTOM OF PAGE NAVIGATION BUTTONS - END */

.content, .youtube {
    padding: 40px;
    line-height: 2em;
}

.content h1 {
    font-size: 2.5em;
    max-width: 800px;
    font-weight: 800;
    margin: auto;
    padding: 20px 0;
    line-height: 1.5em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.content h2 {
    font-size: 2em;
    max-width: 800px;
    font-weight: 700;
    margin: auto;
    line-height: 2em;
    letter-spacing: 1px;
}

.content p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: auto;
    line-height: 2;
    padding: 5px 0;
    /* text-align: center; */
}

.content ul {
    font-size: 1.1rem;
    max-width: 750px;
    margin: auto;
    line-height: 2;

}

.content a {
    color: rgb(5, 150, 150);
}

.content a:hover {
    color: rgb(196, 90, 3);
    border-bottom: 2px solid rgba(233, 113, 15, 0.938);

}

/* --------------------------------------HOME PAGE SECTIONS - START */
#learn {
    background-color: rgb(228, 246, 252);
}

#appreciate {
    background-color: #fff6f6;
}
/* --------------------------------------HOME PAGE SECTIONS - END */


.divider {
    border: 1px solid rgb(207, 207, 207);
    margin: 40px auto;
    max-width: 850px;
}


.content .quote {
    font: small-caps italic 1.5rem/1 sans-serif;
    padding: 30px;
    line-height: 1.5;
}

.youtube {
    max-width: 800px;
    margin: auto;
    padding: 5px 0;
}